/* body {
    background-color: white;
    background-image: url('../public/images/qr scanner1.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */